nav.reset ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav.reset ul li a{
    text-decoration: none;
    color: inherit;
}

nav.main ul {
    display: flex;
    justify-content: space-around;
    background-color: rgba(10, 33, 59, 0.7);   
}

nav.main ul li a {
    display: inline-block;
    padding: 15px 30px;
    color: rgb(191, 151, 233);
    transition: background-color 0.33s, color 0.33s;
}

nav.main ul li a:hover {
    background-color: rgba(10, 33, 59, 0.9);
    color: rgb(115, 215, 99)
}

nav.main ul li a:hover {
    background-color: rgba(10, 33, 59, 0.9);
    color: rgb(115, 215, 99)
}

nav.side ul {
    background-color: rgba(44, 212, 157, 0.83);
}

nav.side ul li a {
    display: inline-block;
    background-color: rgba(88, 77, 66, 0.89);
    color: rgb(98, 200, 99);
    padding: 15px 0;
    width: 100%;
    transition: background-color 0.15s, color 0.15s;
}

nav.side ul li a:hover {
    background-color: rgba(22, 55, 44, 0.12);
    color: rgb(33, 87, 96);
}

.navLinkActive {
    background-color: black;
}

/*******************************************************************/

.routableContainer {
    display: flex;
}